<div>
  <div class="img-profile">
    <img src="https://scontent.firj1-1.fna.fbcdn.net/v/t39.30808-6/274032438_10216263952951024_364378338362793422_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeH1HOVkg61pRr4OGgSd5jEN-sdXOGaO6Vn6x1c4Zo7pWcBCUw4INtIDfMK7Bk-mswk&_nc_ohc=MESU-7gwM1wAX8MjKll&_nc_ht=scontent.firj1-1.fna&oh=00_AT_2jQUBUesUYI86Fr-90urDlTRoqKBJMD3kLIaSi3Qmbw&oe=623E36F4" alt="">
  </div>
  <div>
    <h1>Gabriel Hernan Humerez Romero</h1>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, sit sapiente quos, similique explicabo hic autem animi quisquam quo deleniti amet, quasi deserunt? Labore earum nam pariatur facilis. Veritatis, sed.</p>
  </div>
</div>
