.about-container{
  position: relative;
}

img{
  border-radius: 50%;
  width: 168px;
  height: 168px;
}

.img-profile{
  margin-top: -84px;
  margin-left: -30px;
}

.nombre{
  position: relative;
  top: -75px;
  text-align: center;
}
