<div class="about-container">
    <div class="img-profile">
      <img src="../../../assets/images/perfil-xander.jpg" alt="">
    </div>
    <div class="nombre">
      <h1>Gabriel Hernan Humerez Romero</h1>
      <p>Full Stack Developer Jr.</p>
    </div>
    <div class="info">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, sit sapiente quos, similique explicabo hic autem animi quisquam quo deleniti amet, quasi deserunt? Labore earum nam pariatur facilis. Veritatis, sed.</p>
    </div>
</div>
