<div class="navbar">
  <ul>
    <li class="list">
      <a href="#">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </a>
    </li>
    <li class="list">
      <a href="#sobre-mi">
        <i class="fas fa-home"></i>
        <span>Sobre mi</span>
      </a>
    </li>
    <li class="list">
      <a href="#experiencia">
        <i class="fas fa-home"></i>
        <span>Experiencia</span>
      </a>
    </li>
    <li class="list">
      <a href="#educacion">
        <i class="fas fa-home"></i>
        <span>Educación</span>
      </a>
    </li>
    <li class="list">
      <a href="#habilidades">
        <i class="fas fa-home"></i>
        <span>Habilidades</span>
      </a>
    </li>
    <li class="list">
      <a href="#proyectos">
        <i class="fas fa-home"></i>
        <span>Proyectos</span>
      </a>
    </li>
    <li class="list">
      <a href="#contacto">
        <i class="fas fa-home"></i>
        <span>Contacto</span>
      </a>
    </li>
  </ul>
</div>
