<div (mouseover)="activeOnHover()" (mouseout)="activeOffHover()" class="sidebar top-1/2 -translate-y-1/2 cursor-default">
  <ul>
    <li class="logo">
      <a (click)="onClick('inicio')">
        <img src="../../../../assets/images/AP-Logo.png" alt="Argentina Programa - #YoProgramo">
        <span class="title"> </span>
      </a>
    </li>
    <li class="list active">
      <a (click)="onClick('inicio'); markActive()">
        <b></b>
        <b></b>
        <span class="icon"><fa-icon [icon]="faHouse"></fa-icon></span>
        <span class="title">Inicio</span>
      </a>
    </li>
    <li class="list">
      <a (click)="onClick('experiencia'); markActive()">
        <b></b>
        <b></b>
        <span class="icon"><fa-icon [icon]="faStar"></fa-icon></span>
        <span class="title">Experiencia</span>
      </a>
    </li>
    <li class="list">
      <a (click)="onClick('educacion'); markActive()">
        <b></b>
        <b></b>
        <span class="icon"><fa-icon [icon]="faGraduationCap"></fa-icon></span>
        <span class="title">Educación</span>
      </a>
    </li>
    <li class="list">
      <a (click)="onClick('habilidades'); markActive()">
        <b></b>
        <b></b>
        <span class="icon"><fa-icon [icon]="faUserGear"></fa-icon></span>
        <span class="title">Habilidades</span>
      </a>
    </li>
    <li class="list">
      <a (click)="onClick('proyectos'); markActive()">
        <b></b>
        <b></b>
        <span class="icon"><fa-icon [icon]="faBriefcase"></fa-icon></span>
        <span class="title">Proyectos</span>
      </a>
    </li>
    <li class="list">
      <a (click)="onClick('contacto'); markActive()">
        <b></b>
        <b></b>
        <span class="icon"><fa-icon [icon]="faPaperPlane"></fa-icon></span>
        <span class="title">Contacto</span>
      </a>
    </li>
  </ul>
</div>
<!-- <div class="toggle">
  <a (click)="toggleAction()">
    <fa-icon [icon]="faBars" class="open"></fa-icon>
    <fa-icon [icon]="faX" class="close"></fa-icon>
  </a>
</div> -->
