img{
  max-width: none;
}
/* Sidebar */
.sidebar{
  position: fixed;
  left: 10px;
  width: 60px;
  min-height: 55%;
  background: tomato;
  border-radius: 10px;
  border-left: 5px solid tomato;
  box-sizing: initial;
  transition: width 0.5s;
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar{
  display: none;
}
.sidebar.active{
  width: 180px;
}
.sidebar ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.sidebar ul li.active{
  background-color: white;
}
.sidebar ul li b:nth-child(1){
  display: none;
  position: absolute;
  background: white;
  top: -20px;
  height: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar ul li.active b:nth-child(1){
  display: block;
}
.sidebar ul li b:nth-child(1)::before{
  content: '';
  position: absolute;
  background: tomato;
  top: 0;
  left: 0;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar ul li b:nth-child(2){
  display: none;
  position: absolute;
  background: white;
  bottom: -20px;
  height: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar ul li.active b:nth-child(2){
  display: block;
}
.sidebar ul li b:nth-child(2)::before{
  content: '';
  position: absolute;
  background: tomato;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  color: white;
  text-decoration: none;
}
.sidebar ul li.active a{
  color: #333;
}
.sidebar ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.sidebar ul li a .icon fa-icon{
  font-size: 1.25em;
}
.sidebar ul li a img{
  position: relative;
  display: block;
  padding-left: 6px;
  height: 35px;
}
.sidebar ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .4s;
}
.sidebar.active ul li a .title{
  opacity: 1;
  transition: opacity .4s;
}

/* Toggle */
.toggle{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: tomato;
  cursor: pointer;
}
.toggle.active{
  background: #333;
}
.toggle fa-icon{
  position: relative;
  color: white;
  font-size: 22px;
  display: none;
}
.toggle fa-icon.open,
.toggle.active fa-icon.close{
  display: block;
}
.toggle fa-icon.close,
.toggle.active fa-icon.open{
  display: none;
}
